<p><%= link_to (@forum.title , forum_posts_path) %></p>
<h1><%= @post.title %></h1>
<p><%= @post.user.name %></p>
<p><%= @post.context %></p>
<p> <% if @post.has_image? %>
  <%= image_tag @post.avatar.url(:medium)  %>
<% end %></p>
