<% form_for([@forum, @post]) do |f| %>
<p><%= f.label :title , "文章標題" %>:
<%= f.text_field :title %></p>
<p><%= f.label :context , "內容" %>:
  <%= f.text_area :context , :class => "ipsum(1)" %></p>
<%= f.submit "送出" %>
<% end %>
