<h1><%= link_to ( @forum.title , forum_posts_path ) %></h1>
<p><%= @forum.context %></p>
<h3>主題列表</h3>
<hr>
<% @posts.each do |post| %>
<p><%= link_to (post.title , forum_post_path(@forum, post)) %> | <%= post.context %>
<br/><%= link_to ("編輯" , edit_forum_post_path(@forum , post)) %> | <%= link_to ("刪除" , [@forum, post] , :confirm => "確定刪除？" ,  :method => :delete) %></p>
<% end %>
<hr>
<%= link_to ("開新主題" , new_forum_post_path(@forum)) %>
